{% extends "base.html" %}

{% block title %}{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common_rus.css') }}">
{% endblock %}

{% block page_content %}
    <h1 class="center-label">404: СТРАНИЦА НЕ НАЙДЕНА</h1>
    <p class="center-sub-label">Похоже по этому адресу ничего нет. Возможно, страница была удалена её владельцем</p>
    <p class="center-sub-label"><a href="{{url_for('root')}}">Вернуться на главную</a></p>
{% endblock %}