{% extends "base.html" %}

{% block title %}Hello world!{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
            <h1>FLY FROM <span style="color:red; font-size:.75em;" class="glyphicon glyphicon-star"></span> MOSCOW</h1>
            <div id="bid-feed">
                    <div class="bid__row" v-for="b in shownBids" transition="staggered" stagger="100">
                        <span class="bid-part bid__destination" v-text="b.destination"></span> |
                        <span class="bid-part bid__dest-name" v-text="b.dest_name|uppercase"></span> |
                        <span class="bid-part bid__price" >
                            <a v-text="b.price" :href="b.href" target="_blank"></a>
                            <span class="rsign">&#8381;</span>
                        </span>
                        <span class="bid-part bid__stops" v-text="b.stops"></span>
                        <span class="bid-part bid__dates">| >
                            <span v-text="b.departure_date"></span>
                            ...
                            <span v-text="b.return_date"></span>
                            < |
                        </span>
                        <!-- <span v-text="b.rating"></span> -->
                    </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
        <script src ="{{ url_for('static', filename="js/main.js") }}"
            type="text/javascript"></script>
{% endblock %}
