{% extends "base.html" %}

{% block title %}Выгодные предложения для спонтанных путешественников! - Fly From Moscow{% endblock %}

{% block styles %}
{{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
            <img id="logo" src="{{url_for('static', filename='images/fly2.svg')}}" />
            <span class="logo-text">FROM <span style="color:red; font-size:.75em;" class="glyphicon glyphicon-star"></span> MOSCOW</span>

            <h1>Ничего особенного, просто лучшие авиабилеты по&nbsp;самым популярным направлениям из&nbsp;Москвы.</h1>
            <div id="subscription" v-show="showBlock" >
                <div v-show="!sent">
                    <h2>Хотите получать эти супер-выгодные предложения в виде ежедневной рассылки?</h2>
                    <!-- <p>Просто сообщите нам свой e-mail, мы начнем в самое ближайшее время!</p> -->
                    <input  type="text" class="form-control" placeholder="Ваш email адрес" v-model="email" />
                    <button @click="saveEmail" class="btn btn-large btn-success">Подписаться!</button>
                </div>
                <div v-show="sent">
                    <h2>Успешно! Ваш email адрес добавлен в список.<br/>Рассылка начнется в ближайшие дни</h2>
                    <p>В случае необходимости, отписаться или изменить настройки рассылки вы можете в любой момент в самом письме<p>
                    <br/>
                    <span class="plink" @click="hideBlock">X Закрыть</span>
                </div>
            </div>

            <div id="bid-feed">
                    <div class="bid__row" v-for="b in shownBids" transition="staggered" stagger="100" :style="{color:b.age_color}">
                        <span class="bid-part bid__destination" v-text="b.destination"></span>
                        <span class="bid-part bid__dest-name" v-text="b.dest_name|uppercase"></span>
                        <span class="bid-part bid__price">
                            <span class="window">
                               <a v-text="b.price" :href="b.href" target="_blank" :class="{'special-price': b.special, 'normal-price': !b.special}"></a>
                            
                            <span class="rsign">&#8381;</span>
                            </span>

                        </span>
                        
                        <span class="bid-part bid__days">
                            <span v-text="b.days"></span>
                        </span>
                        <span class="bid-part bid__dates">
                            <span class="window" v-text="b.departure_date"></span>
                            <span class="glyphicon glyphicon-triangle-left"></span>
                            <span class="glyphicon glyphicon-triangle-right"></span>
                            <span class="window" v-text="b.return_date"></span>
                        </span>

                        <span class="bid-part bid__stops" v-text="b.stops"></span>
                        
                    </div>

            </div>

            <p id="warning-msg">К сожалению, самые выгодные предложения разлетаются за считаные часы, поэтому, некоторые цены неизбежно устареют.<br/>В таком случае, попробуйте посмотреть ближайшие даты. </p>



        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
        <script src ="{{ url_for('static', filename="js/main.js") }}"
            type="text/javascript"></script>
{% endblock %}
