// MEDIA

//screen-xs <768px
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;


@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-sm - 1px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md) and(max-width: $screen-lg - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg) { @content; }
  }
}
/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */



// COLORS

$gray1: #323232;
$gray2: #585858;
$gray3: #878787;
$gray4: #c6c6c6;
$gray5: #efefef;
$gray6: #f8f8f8;

//$k-yellow: #ffc300;
$k-yellow: #ff9800;
$k-green: #27c257;
$k-blue: #08c;
//$k-orange: #ff7800;
$k-orange: #ff9800;


 


$blue: #08c;
$cyan: #0cbeb2;
$green: #55d426;
$yellow: #fff10d;
$orange: #ff9800;
$red: #ff4e2b;
$magenta: #b652bf;

$dark-blue: #002c87;
$dark-cyan: #00705d;
$dark-green: #0c9702;
$dark-yellow: #ffd900;
$dark-orange: #ff7b00;
$dark-red: #ff0a02;
$dark-magenta: #821a8f;

$light-blue: #acd6e7;
$light-cyan: #b1e8df;
$light-green: #c8efb1;
$light-yellow: #fff8a9;
$light-orange: #ffeaa5;
$light-red: #ffc4b3;
$light-magenta: #d294d7;

$pale-blue: #d5eaf3;
$pale-cyan: #d8f3ef;
$pale-green: #e3f7d8;
$pale-yellow: #fffbd4;
$pale-orange: #fff4d2;
$pale-red: #ffe1d9;
$pale-magenta: #e8c9eb;

$c-prim: $blue;
$c-sec: $orange;
$c-add: $green;

$c-error: $red;
$c-success: $green;
$c-attention: $orange;

$c-facebook: #3b5998;
$c-google: #3367d6;
$c-vk: #507299;

.color-none{

}

.color-blue{
    color: $blue;
    
}

.color-cyan{
    color: $cyan;
    
}

.color-green{
    color: $green;
    
}

.color-yellow{
    color: $orange;
    
}

.color-orange{
    color: $orange;
    
}

.color-red{
    color: $red;
}

.color-magenta{
    color: $magenta;
    
}


.color-dark-blue{
    color: $dark-blue;
    
}

.color-dark-cyan{
    color: $dark-cyan;
    
}

.color-dark-green{
    color: $dark-green;
    
}

.color-dark-orange{
    color: $dark-orange;
    
}

.color-dark-yellow{
    color: $dark-yellow;
    
}

.color-dark-red{
    color: $dark-red;
    
}

.color-dark-magenta{
    color: $dark-magenta;
    
}

.color-light-blue{
    color: $light-blue;
    
}

.color-light-cyan{
    color: $light-cyan;
    
}

.color-light-green{
    color: $light-green;
    
}

.color-light-orange{
    color: $light-orange;
    
}

.color-light-yellow{
    color: $light-yellow;
    
}

.color-light-red{
    color: $light-red;
    
}

.color-pale-blue{
    color: $pale-blue;
    
}

.color-light-magenta{
    color: $light-magenta;
    
}

.color-pale-cyan{
    color: $pale-cyan;
    
}

.color-pale-green{
    color: $pale-green;
    
}

.color-pale-yellow{
    color: $pale-orange;
    
}

.color-pale-yellow{
    color: $pale-yellow;
    
}

.color-pale-red{
    color: $pale-red;
    
}

.color-pale-magenta{
    color: $pale-magenta;
    
}

//


.back-color-none{
    background-color: #78a7b4;
    color:white;
}

.back-color-blue{
    background-color: $blue;
    color:white;
}

.back-color-cyan{
    background-color: $cyan;
    color:white;
}

.back-color-green{
    background-color: $green;
    color:white;
}

.back-color-yellow{
    background-color: $orange;
    color:white;
}

.back-color-orange{
    background-color: $orange;
    color:white;
}

.back-color-red{
    background-color: $red;
    color:white;
}

.back-color-magenta{
    background-color: $magenta;
    color:white;
}


.back-color-dark-blue{
    background-color: $dark-blue;
    color:white;
}

.back-color-dark-cyan{
    background-color: $dark-cyan;
    color:white;
}

.back-color-dark-green{
    background-color: $dark-green;
    color:white;
}

.back-color-dark-orange{
    background-color: $dark-orange;
    color:white;
}

.back-color-dark-yellow{
    background-color: $dark-yellow;
    color:white;
}

.back-color-dark-red{
    background-color: $dark-red;
    color:white;
}

.back-color-dark-magenta{
    background-color: $dark-magenta;
    color:white;
}

.back-color-light-blue{
    background-color: $light-blue;
    color:white;
}

.back-color-light-cyan{
    background-color: $light-cyan;
    color:white;
}

.back-color-light-green{
    background-color: $light-green;
    color:white;
}

.back-color-light-orange{
    background-color: $light-orange;
    color:white;
}

.back-color-light-yellow{
    background-color: $light-yellow;
    color:white;
}

.back-color-light-red{
    background-color: $light-red;
    color:white;
}

.back-color-pale-blue{
    background-color: $pale-blue;
    color:white;
}

.back-color-light-magenta{
    background-color: $light-magenta;
    color:white;
}

.back-color-pale-cyan{
    background-color: $pale-cyan;
    color:white;
}

.back-color-pale-green{
    background-color: $pale-green;
    color:white;
}

.back-color-pale-orange{
    background-color: $pale-orange;
    color:white;
}

.back-color-pale-yellow{
    background-color: $pale-yellow;
    color:white;
}

.back-color-pale-red{
    background-color: $pale-red;
    color:white;
}

.back-color-pale-magenta{
    background-color: $pale-magenta;
    color:white;
}


